extends layout

block content
	ul
	each item in results
		li
			a(href=item.url) #{item.url}
			p #{item.rawText}
			br
			p #{item.firstLine}
			ul
			p #{item.company}
			each tag in item.jobTags
				span #{tag}, 
			br
			br
			br
			each city in item.cities
				span #{city}, 
			br
			br
			br
			each tag in item.remoteTags
				span #{tag},
			br
			br
			br
