extends layout

block content
	ul
	each item in results
		li
			p #{item.rawText}
			br
			p #{item.firstLine}
			br
			p #{item.company}
			br
			p #{item.role}
			br
			p #{item.location}
			ul
			each tag in item.fieldTags
				span #{tag}, 
			br
			br
			br
			each tag in item.remoteTags
				span #{tag},
			br
			br
			br
